In [1]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [23]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [7]:
gdp_df.shape

(7176, 4)

 rows and columns are in `gdp_df`? What are the data types of each column? 7176,4

Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [9]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [29]:
gdp_df = gdp_df.drop('Value Footnotes', axis=1)

In [30]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [31]:
gdp_df = gdp_df.rename(columns={'Country or Area': 'Country','Year':'Year','Value':"GDP_Per_Capita"})

In [32]:
gdp_df.columns

Index(['Country', 'Year', 'GDP_Per_Capita'], dtype='object')

Gives the type of data in df

In [33]:
gdp_df.dtypes

Country            object
Year                int64
GDP_Per_Capita    float64
dtype: object

In [19]:
gdp_df

          Country  Year  GDP_Per_Capita
0     Afghanistan  2020     1970.560169
1     Afghanistan  2019     2065.036235
2     Afghanistan  2018     2033.804389
3     Afghanistan  2017     2058.400221
4     Afghanistan  2016     2057.067978
...           ...   ...             ...
7171     Zimbabwe  1994     2603.927369
7172     Zimbabwe  1993     2420.092791
7173     Zimbabwe  1992     2437.152908
7174     Zimbabwe  1991     2733.696626
7175     Zimbabwe  1990     2652.129209

[7176 rows x 3 columns]

 How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [34]:
gdp_df.value_counts()

Country       Year  GDP_Per_Capita
Afghanistan   2002  1189.784668       1
OECD members  2018  44099.951717      1
Nigeria       2000  2977.041475       1
              1999  2906.723968       1
              1998  2962.892112       1
                                     ..
Ghana         2014  4794.147084       1
              2013  4769.072559       1
              2012  4548.579354       1
              2011  4261.620748       1
Zimbabwe      2020  2134.555461       1
Name: count, Length: 7176, dtype: int64

In [42]:
gdp_df.Country.value_counts()

Country
Least developed countries: UN classification    31
Niger                                           31
Middle East & North Africa (IDA & IBRD)         31
Middle income                                   31
Mongolia                                        31
                                                ..
Kosovo                                          13
Turks and Caicos Islands                        10
Sint Maarten (Dutch part)                       10
Somalia                                          8
Djibouti                                         8
Name: count, Length: 242, dtype: int64